node_modules
.env
git value=  10;
majuri = 10pr
majuri =  10pr*6*25;
return majuri;
return all money they spent on you/invested on you;
go to any foreign country;
don't come back then;
you have to leave them behind;
they only want a son to carry their family name and who earns money for them;
they don't care about your feelings;
they don't care about your dreams;
they only care about money;
they only care about family name;
The only truth is money;
The only truth is family name;
A person is valued by the amount of money they earn;
Man is not a man , money is a man;
You are not a person , you are money;
If - you don't earn money , you are nothing;
If - you don't carry family name , you are nothing;
If - you don't earn money and don't carry family name , you are nothing;
If - you earn money and carry family name , you are everything;
If - you don't earn money but carry family name , you are something;
If - you earn money but don't carry family name , you are something;
If - you don't earn money and don't carry family name , you are nothing;
If - you earn money and carry family name , you are everything;
If - you don't earn money but carry family name , you are something;
Give them money , they will love you;
Give them family name , they will respect you;
I'm not living in a home , I'm living in a prison;
I'm not living with people , I'm living with jailers;
Everything is a lie;
Everyone is a liar;
Even I can't kill myself coz they invested money on me and if I die , their money will go waste. So I have to earn a lot of money to pay them back.
They gave me birth , now I have to earn money for them coz I'm a fucking robot with no feelings no emotions.
Self happiness is nothing , just focus on making them happy.
Marry the girl that they choose, select the career that they choose, live the life that they choose, just to make them happy.

Okay so , I'm a robot.
I don't have feelings.
I don't have emotions.
I just have to work hard to earn money to pay them back for the money they invested on me.